<h1>Create a New Job at <%= @company.name %></h1>

<div class="form">
<%= render partial: "form" %>
</div>

<div class="create-new">
  <%= link_to "Create a New Category", new_category_path, class: "submit-button" %>
</div>
