nav {
  display: flex;
  justify-content: space-between;
  background-color: #e67525;
  height: 125px;
}
nav ul {
  display: flex;
  width: 500px;
  justify-content: space-between;
  align-items: center;
  margin-right: 50px;
}

a:hover {
  color: #2565e6;
}

a:visited {
  text-decoration: none;
  decoration: none;
}

a {
  text-decoration: none;
}

h1 {
  text-align: center;
  font-family: sans-serif;
  font-size: 40px;
  margin: 20px;
}

h3 {
  text-align: center;
  font-family: sans-serif;
  font-size: 30px;
  padding: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
  font-weight: bold;
  font-size: 18px;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-family: sans-serif;
    text-align: center;
}

tr:hover {background-color:#f5f5f5;}

footer {
  height: 50px;
}

.back-button {
  font-family: sans-serif;
  margin-left: 20px;
}

.flash-container {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.flash-message {
  font-family: sans-serif;
}


.info-container {
  display: flex;
  justify-content: center;
  text-align: center;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  font-size: 18px;
  font-family: sans-serif;
  color: black;
}

.bold {
  font-weight: bold;
}

.company {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.company div {
  margin-top: 10px;
}

.company-title {
  font-size: 22px;
}

.create-new {
  display: flex;
  justify-content: center;
  margin: 30px;
}

.submitted-contact {
  background-color: #f7f7f7;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 20px 0 20px 0;
}

.contact {
  width: 33%;
}

.submitted-comment-container {
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
}

.submitted-comment {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 20px;
}

.submitted-header {
  background-color: #f7f7f7;
  margin-bottom: -10px;
}

.submit-button {
  background-color: #2565e6;
  padding: 5px 10px 5px 10px;
  color: white;
  border-radius: 30px;
}

.edit-delete:hover {
  color: white;
}

.submit-button:hover {
  color: white;
}

.edit-delete {
  background-color: #2565e6;
  color: white;
  border-radius: 30px;
  padding: 5px 10px 5px 10px;
  margin: 0 5px 0 5px;
  font-family: sans-serif;
}

.text-area {
  padding: 12px 20px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  height: 125px;
  width: 500px;
  font-size: 16px;
}

.comment {
  margin: 20px;
  font-size: 16px;
  font-family: sans-serif;
}

.form {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
}

.top-nav-links {
  color: white;
  font-size: 25px;
  font-family: sans-serif;
}

.margin-top-text {
  margin-top: 15px;
}


#logo {
  width: auto;
  height: 100px;
  padding: 12.5px;
  margin-left: 10px;
}

#home-header {
  margin-top: 50px;
  color: white;
  font-size: 100px;
  font-family: 'Michroma'
}

#home-image {
  background: url(building_3.jpeg) no-repeat;
  background-size: cover;
}
