nav {
  display: flex;
  justify-content: space-between;
  background-color: #e67525;
  height: 125px;
}
nav ul {
  display: flex;
  width: 500px;
  justify-content: space-between;
  align-items: center;
  margin-right: 50px;
}

a:hover {
  color: #2565e6;
}

a:visited {
  text-decoration: none;
  decoration: none;
}

a {
  text-decoration: none;
}

h1 {
  text-align: center;
  font-family: sans-serif;
  font-size: 40px;
  margin: 20px;
}

h3 {
  text-align: center;
  font-family: sans-serif;
  font-size: 30px;
  padding: 20px;
}

.info_container {
  display: flex;
  justify-content: center;
  text-align: center;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  font-size: 18px;
  font-family: sans-serif;
  color: black;
}

.job_info p {
  margin: 5px;
}

.bold {
  font-weight: bold;
}

.job_listing {
  color: black;
  font-family: sans-serif;
  width: 30%;
  margin: 20px 0 20px 0;
}

.company {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.company div {
  margin-top: 10px;
}

.company_jobs {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.create-new {
  display: flex;
  justify-content: center;
  margin: 30px;
}

.submitted_contact {
  background-color: #f7f7f7;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 20px 0 20px 0;
}

.contact {
  width: 33%;
}

.submitted_comment_container {
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
}

.submitted_comment {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 20px;
}

.submitted_header {
  background-color: #f7f7f7;
}

.submit_button {
  background-color: #2565e6;
  height: 30px;
  width: 70px;
  color: white;
  border-radius: 30px;
}

.edit_delete {
  background-color: #2565e6;
  color: white;
  border-radius: 30px;
}

.text_area {
  padding: 12px 20px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  height: 125px;
  width: 500px;
  font-size: 16px;
}

.comment {
  margin: 20px;
  font-size: 16px;
  font-family: sans-serif;
}


.form {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
}

.top_nav_links {
  color: white;
  font-size: 25px;
  font-family: sans-serif;
}

#logo {
  width: auto;
  height: 100px;
  padding: 12.5px;
  margin-left: 10px;
}

#home_header {
  margin-top: 50px;
  color: white;
  font-size: 100px;
  font-family: 'Michroma'
}

#home_image {
  background: url(building_3.jpeg) no-repeat;
  background-size: cover;
}
