<h1>All Categories</h1>

<ul>
    <% @categories.each do |category| %>
    <li class=category_<%= category.id %>>
      <%= link_to category.title, category_path(category)  %>
      <%= link_to "Edit", edit_category_path(category) %>
      <%= link_to "Delete", category_path(category), method: "delete", data: {confirm: "Really delete the category?"} %>
    </li>
  <% end %>
</ul>
