<h1>All Categories</h1>

<div class="info_container">
  <ul class="info">
      <% @categories.each do |category| %>
      <li class=category_<%= category.id %>>
        <%= link_to category.title, category_path(category)  %>
        <%= link_to "Edit", edit_category_path(category), class: "edit_delete"  %>
        <%= link_to "Delete", category_path(category), method: "delete", data: {confirm: "Really delete the category?"}, class: "edit_delete"  %>
      </li>
    <% end %>
  </ul>
</div>
