<h1><%= @category.title %> Jobs</h1>

<div class="info_container">
  <ul class="info">
    <% @category.jobs.each do |job| %>
        <li><%= link_to job.title, job_path(job) %> at <%= link_to job.company.name, company_path(job.company) %></li>
    <% end %>
  </ul>
</div>

<%= link_to "<< Back to All Categories", categories_path %>
