<h1><%= @category.title %></h1>

All Jobs for <strong><%= @category.title %></strong>

<ul>
  <% @category.jobs.each do |job| %>
      <li><%= link_to job.title, job_path(job) %></li>
  <% end %>
</ul>
