<h1><%= @category.title %></h1>

All Jobs for <strong><%= @category.title %></strong>

<% @category.jobs.each do |job| %>
  <ul><%= link_to job.title, company_job_path(job.company, job) %></ul>
<% end %>
